{% extends "base/base.html" %}
{% load static %} 

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  {% block title %}
  <title>Blog</title>{% endblock title %}
  
  </head>
  <body>
    {% block content %}
  

    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1>Article List</h1>
            <p class="lead text-body-secondary">
              You can see our last Articles
            </p>
           
          </div>
        </div>
      </section>

      {% if articles %}

      
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
      <h2>Number of Articles: {{ articles | length }}</h2>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for i in articles %}
            <div class="col">
              <div class="card shadow-sm">
                <img
                  class="bd-placeholder-img card-img-top"
                  src="{{i.image}}"
                  width="100%"
                  height="225"
                >
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em" style="padding:10px;font-size:30px">
                    {{ i.title | upper}}
                  </text>
                </img>
                <div class="card-body">
                  <p class="card-text" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;line-clamp: 3;-webkit-box-orient: vertical;">
                    {{i.text}}
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                  
                    <small class="text-body-secondary">Author: {{ i.author }}</small>
                    <small class="text-body-secondary">{{ i.created_date | date:"o-M-d" }}</small>
                    <a href="{% url "blog:article_detail" i.id %}">
                        Read More
                        </a>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <p>No Data</p>
      {% endif %}

      
    </main>
    {% endblock content %}
  </body>
</html>
